  body {
    background-image: url(https://i.imgur.com/Vu2gPRN.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: rgb(19, 21, 22);
    font-family: "Varela Round";
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  h1 {
    margin: 7px;
  }
  
  div {
    border-radius: 8px;
  }
  
  .varela-round-regular {
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  select {
    background-color: #335;
    border: 1px solid;
    border-radius: 5px;
    border-color: #a55b1c00;
    color: white;
    width:min(150px);
    height: 35px;
    text-align: center;
  }
  
  span {
    text-align: center;
    align-content: center;
    margin: 3px;
    font-size: 16px;
  }
  
  .select-one {
    flex-grow: 1;
  }
  
  .input-label {
    width:min(150px);
    margin: auto;
    text-align: center;
    align-content: center;
  }
    
  textarea {
    background-color: #335;
    border: 1px solid;
    border-radius: 5px;
    border-color: #a55b1c00;
    box-shadow: 0px 0px 10px 3px rgb(19, 21, 22);
    color: white;
    padding: 15px;
    height: 300px;
    width: 100%;
    margin: 7px;
  }
  
  button {
    background-color: pink;
    background-image: linear-gradient(210deg, rgb(220, 1, 120), rgb(30, 179, 200));
    font-family: "Varela Round";
    border: 1px solid;
    border-style: none;
    border-radius: 5px;
    border-color: #31313100;
    margin: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px 3px #555;
  }
  
  .christmas-ribbon-wrapper {
    width: 150px;
    height: 150px;
    position: fixed;
    overflow: hidden;
    top: 0px;
    right: 0px;
    z-index: 1040;
  }
        
  .christmas-ribbon-wrapper .christmas-ribbon {
    position: absolute;
    padding: 2px 0;
    background-color: #a00;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    z-index: 1050;
    pointer-events: auto;
    top: 42px;
    right: -43px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
        
  .christmas-ribbon-wrapper .christmas-ribbon a,
  .christmas-ribbon-wrapper .christmas-ribbon a:hover {
    font-size: 13px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    text-align: center;
    width: 200px;
    line-height: 20px;
    display: inline-block;
    padding: 2px 0;
    border-width: 1px 0;
    border-style: dashed;
    border-color: rgba(255,255,255,0.7);
  }
  
  .cust {
    background-color: #29292999;
    border: 1px solid;
    border-color: #333333;
    padding-bottom: 8px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 10px 3px rgb(19, 21, 22);
    margin: 4px;
    display: flex;
  }
  
  .select {
    background-color: #333;
    border: 1px solid;
    border-style: scope;
    border-color: #292929;
    padding-bottom: 8px;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
  }
  
  .bros {
    background-color: rgb(19, 21, 22);
    width: auto;
    height: 100%;
    padding: 10px;
    border-radius: 40px;
    margin: 20px;
    box-shadow: 1px 2px 10px 5px rgb(19, 21, 22);
  }
  
  .containerone {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width:min(100%);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .containertwo {
    align-content: center;
    flex-wrap: wrap;
  }
  
  .containerthree {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .text {
    margin: auto;
    padding: 5px;
  }

  label {
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 0.5rem;
    border: 1px solid;
    border-color: #31313100;
    background-image: linear-gradient(210deg, rgb(220, 1, 120), rgb(30, 179, 200));
    box-shadow: 0px 0px 10px 3px #555;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
  }

  label.pop {
    position: fixed;
    top: 20px;
    left: 20px;
    width:min(50px);
  }

  .popup {
  position: relative;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-content: center;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  height: 400px;
  width: 400px;
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  align-content: center;
  border-radius: 6px;
  padding: 4px 4px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 10px;
  display: flex;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: center;
  top: auto;
  left: auto;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 0,5;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0,5;}
  to {opacity:1 ;}
}
